/* Add screen styles below */
a.active {
    font-weight: bold;
}


body {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  color: #495867
}

h1 {
    font-size: 54px;
}

h2 {
    font-size: 24px;
}

p {
    font-size: 16px;
}

.emphasis {
    color:#FE5F55;
    text-decoration: underline;
}

