
body {
    background-color: #F7F7FF;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  color: #495867
}

nav {
    background-color: #FFFDFD;
    border-bottom: #BDD5EA;
    margin: 0 auto;
    padding: 24px;
}

h1 {
    font-size: 54px;
    text-align: center;
}

h2 {
    font-size: 24px;
}

p {
    font-size: 16px;
    color: #495867;
}

img.about {
    float: left;
}

.emphasis {
    color:#FE5F55;
    text-decoration: underline;
}

