
body {
    background-color: #F7F7FF;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: #495867;
  margin: 0;
}

header {
    background-color: #FFFDFD;
    border-bottom: 1px solid #BDD5EA;
    margin: 0 auto;
    padding: 24px;
}

h1 {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
}

.intro p {
    font-size: 54px;
    font-weight: 700;
    text-align: center;
    width: 80%;
}

.emphasis {
    color:#FE5F55;
    text-decoration: underline;
}

.intro {
    display: flex;
    justify-content: center;
    padding: 96px 0px 96px 0px;
}

h2 {
    font-size: 24px;
    color: #577399;
}

p {
    font-size: 18px;
    color: #495867;
    margin: 0;
    font-weight: 300;
}

#about {
  display: flex;
  align-items: flex-start;
  max-width: 1000px;
  margin: 0 auto;
  padding: 96px 24px;
}

#about .content {
  max-width: 600px;
  padding-left: 48px;
}

