/* Add screen styles below */
a.active {
    font-weight: bold;
}


body {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  color: #495867
}

.emphasis {
    color:#FE5F55;
    text-decoration: underline;
}

